body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 13px;
    margin: 0px auto;
    width:100%;
}
#menutop{
    background-color:#ee4d2d;
    height: 80px;
    text-align: center;
}
#menutopleft{
    float: left;
    margin-left: 40px;
    margin-top: 10px;
}
#menutopright{
    float: right;
    margin-right: 40px;
    margin-top: 10px;
}
a{
color: white;
text-decoration: none;
}
#banner{
    height: auto;
    width: 90%;
    margin: auto;
}
#shopeemall h2{
    height: 250px;
    width: 90%;
    background-color:cadetblue;
    margin: auto;
    color: tomato;
    text-decoration: none;
}

#main #left{
    width: 20%;
    background-color: blueviolet;
    min-height: 740px;
    float: left;
}
#main #products{
    float: left;
    background-color:none;
    width: 80%;
    min-height: 460px;
}
#main #filter{
    float: left;
    background-color: magenta;
    min-height: 40px;
    width: 80%;
    margin-right: auto;
}
#footer{
    background-color: yellow;
    width: 100%;
    text-align: center;
    color: white;
    height: 80px;
    line-height: 80px;
    clear: left;
}
#menutopright
    
#menutopleft span{
    text-decoration: none;
    color: white;
    padding: auto
    
}
.items{
    margin: 6px;
    background-color: plum;
    width:18.7%;
    height: auto;
    float: left;
    border: 1px solid orangered
}
.items img{
    width:100%
}
#banner img{
    width: 100%;
    height: auto;
    margin-top: 20px;
}
#shopeemall #h2 #a{
    text-decoration: none;
}
